[tool.poetry]
name = "revelation"
version = "1.1.0"
description = "Make awesome reveal.js presentations with revelation"
authors = ["Humberto Rocha <humrochagf@gmail.com>"]
license = "MIT"
readme = "README.md"
exclude = ["revelation/static/*"]

[tool.poetry.scripts]
revelation = "revelation.cli:cli"
rv = "revelation.cli:cli"

[tool.poetry.dependencies]
python = "^3.8"
Werkzeug = {extras = ["watchdog"], version = "^1.0.1"}
Jinja2 = "^2.11.2"
typer = "^0.3.2"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
isort = "^5.6.4"
flake8 = "^3.8.4"
ipdb = "^0.13.4"
ipython = "^7.19.0"
coveralls = "^2.2.0"
pytest = "^6.2.1"
pytest-mock = "^3.5.0"
pytest-cov = "^2.10.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
